.sidebar {
    color: whitesmoke;
    background: #15171c;
    min-width: 150px;
    max-width: 150px;
    transition: all 0.3s;
    height: 100vh;
    border: 2px solid blue;
}

.sideButton {
    flex-grow: 1;
    border: 2px solid red;
}