<mat-card>
    <mat-card-header class="flex justify-items-center">
        <h2 mat-dialog-title>Delete item</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div mat-dialog-content>
            Are you sure you want to delete this item?
        </div>
    </mat-card-content>
    <mat-card-actions class="justify-end">
        <div mat-dialog-actions class="flex space-x-4">
            <button mat-button (click)="onNoClick()">No</button>
            <button mat-raised-button color="warn" (click)="onYesClick()">Yes</button>
        </div>
    </mat-card-actions>
</mat-card>