<button 
    mat-icon-button aria-label="icon-button to access profile options"
>
    <img 
        id="avatarButton" 
        type="button" 
        data-dropdown-toggle="userDropdown" 
        data-dropdown-placement="bottom-start" 
        class="w-10 h-10 rounded-full cursor-pointer" 
        src="https://i.pravatar.cc/150?img=57" 
        alt="User dropdown"
    >

    <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>John Smith</div>
            <div class="font-medium truncate">johnsmith@debtors.com</div>
        </div>
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white align-bottom">
                    <ng-icon name="bootstrapPersonFill"></ng-icon>
                    <label>Profile</label>
                </a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    <ng-icon name="bootstrapGearFill"></ng-icon>
                    <label>Settings</label>
                </a>
            </li>
        </ul>
        <div class="py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                <ng-icon name="bootstrapDoorOpenFill"></ng-icon>
                <label>Sign out</label>
            </a>
        </div>
    </div>
</button>
